<nav class="fixed top-0 left-0 right-0 z-50 w-full border-b border-white/5 bg-[#160f23]/90 backdrop-blur-md">
    <div class="mx-auto flex h-20 max-w-7xl items-center justify-between px-4 sm:px-6 lg:px-8">
        <div class="flex items-center gap-2">
            <div class="flex h-10 w-10 items-center justify-center rounded-lg bg-primary/20 text-primary ring-1 ring-primary/50">
                <span class="material-symbols-outlined">terminal</span>
            </div>
            <span class="text-xl font-bold tracking-tight text-white">Port<span class="text-primary">folyo</span></span>
        </div>
        <div class="hidden md:flex items-center gap-8">
            <a class="text-sm font-medium text-slate-300 transition-colors hover:text-white" href="#about">Hakkımda</a>
            <a class="text-sm font-medium text-slate-300 transition-colors hover:text-white" href="#skills">Yetenekler</a>
            <a class="text-sm font-medium text-slate-300 transition-colors hover:text-white" href="#work">Çalışmalar</a>
            <a class="text-sm font-medium text-slate-300 transition-colors hover:text-white" href="#experience">Deneyimler</a>
            <a class="text-sm font-medium text-slate-300 transition-colors hover:text-white" href="#references">Referanslar</a>
            <a class="text-sm font-medium text-slate-300 transition-colors hover:text-white" href="#contact">İletişim</a>
            <a href="https://drive.usercontent.google.com/uc?id=1fJ28mRuDVYd0WSXMqYMCgtw_E8SrzFfW&export=download"  class="flex items-center gap-2 rounded-lg bg-primary px-5 py-2.5 text-sm font-bold text-white transition-all hover:bg-primary/90 hover:shadow-[0_0_20px_rgba(104,31,249,0.5)]">
                <span class="material-symbols-outlined text-[18px]">download</span>
                CV'mi İndir
            </a>
        </div>
        <div class="md:hidden">
            <button class="flex h-10 w-10 items-center justify-center rounded-lg text-slate-300 hover:bg-white/5 hover:text-white">
                <span class="material-symbols-outlined">menu</span>
            </button>
        </div>
    </div>
</nav>