
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="dark" lang="en">
    @await Component.InvokeAsync("_DefaultHeadComponentPartial")
<body class="bg-background-light dark:bg-background-dark text-slate-900 dark:text-white font-display overflow-x-hidden min-h-screen flex flex-col antialiased">

    @await Component.InvokeAsync("_DefaultNavBarComponentPartial")
    @await Component.InvokeAsync("_DefaultHomeComponentPartial")
    @await Component.InvokeAsync("_DefaultAboutComponentPartial")
    @await Component.InvokeAsync("_DefaultSkillComponentPartial")
    @await Component.InvokeAsync("_DefaultPortfolioComponentPartial")
    @await Component.InvokeAsync("_DefaultExperienceComponentPartial")
    @await Component.InvokeAsync("_DefaultEducationComponentPartial")
    @await Component.InvokeAsync("_DefaultHobbyComponentPartial")
    @await Component.InvokeAsync("_DefaultReferenceComponentPartial")
    @await Component.InvokeAsync("_DefaultContactComponentPartial")
    @await Component.InvokeAsync("_DefaultFooterComponentPartial")
   
</body>
</html>